body{
    border: solid;
    height: 100vh;
    width: 100vw;
    display: inline-block;
    flex-wrap: wrap;
    background-image: url('../images/dwall.jpg');
    background-repeat: cover;

}
#top{
    border: solid;
    height: 25vh;
    width: 100vw;
    justify-content: space-between;
    align-content: top;
    display: flex;
}
#mid{
    border: solid;
    height: 50vh;
    width: 100vw;
    justify-content: center;
    align-content: center;
    display: flex;
}
#bottm{
    border: solid;
    height: 25vh;
    width: 100vw;
    justify-content: center;
    align-content: bottom;
    display: flex;
}
.pic1{
    border: solid;
    height: 25vh;
    flex: 1;
    
}
.pic2{
    border: solid;
    height: 50vh;
    width: 25%;
    justify-content: space-between; 
}
.pic2a{
    border: solid;
    height: 50vh;
    width: 50%;
    justify-content: space-between; 
}
.pic2b{
    border: solid;
    height: 75%;
    width: 100%;
    flex-direction: top;
}
.pic2c{
    border: solid;
    height: 25%;
    width: 100%;
    flex-direction: bottom;
    color: white;
    text-align: center;
    font-size: 30px;
}
.pic3{
    border: solid;
    height: 25vh;
    flex: 1; 
}
.btn{
    height: 50px;
    width: 55px;
    background: black;
    color: blueviolet;
    border-radius: 5pt;
    display: inline-flex;
}
.btn2{
    height: 50px;
    width: 200px;
    background: rgb(20, 231, 56);
    color: blueviolet;
    border-radius: 10pt;
    align-content: center;
    display: inline-flex;
}
.btn3{
    height: 50px;
    width: 120px;
    background: #e75714;
    color: blueviolet;
    border-radius: 10pt;
    display: inline-flex;
}
#spot1{
    background-image: url('../images/ken1.jpg');
    background-repeat: no-repeat;


}
#spot2{
    background-image: url('../images/supper.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
#spot3{
    background-image: url('../images/west1.jpg');
    background-repeat: no-repeat;
    background-position: right;
}
#spot4{
    background-image: url('../images/pac1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
#spot5{
    background-image: url('../images/big1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
#spot6{
    background-image: url('../images/jay1.jpg');
    background-repeat: no-repeat;
}
#spot7{
    background-image: url('../images/drake1.jpg');
    background-repeat: no-repeat;
    background-position: right;
}